body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#2ecc71;
color:white;
padding:20px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
font-weight:bold;
}

.banner{
padding:40px;
background:#eafaf1;
}

.productos{
display:flex;
justify-content:center;
gap:30px;
padding:30px;
}

.producto{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
background:#333;
color:white;
padding:10px;
}
