body{
font-family:Arial;
margin:0;
background:#f5f5f5;
text-align:center;
}

header{
background:#27ae60;
color:white;
padding:20px;
}

nav{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-top:20px;
}

.menu{
cursor:pointer;
}

.menu img{
width:40px;
display:block;
margin:auto;
}

.menu span{
display:block;
font-size:14px;
}

.banner{
background:#dff5e4;
padding:50px;
}

.productos{
padding:40px;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
}

.producto{
background:white;
padding:20px;
border-radius:10px;
width:220px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.producto:hover{
transform:scale(1.05);
}

.producto img{
width:100%;
border-radius:10px;
}

button{
background:#27ae60;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#1e8449;
}

.equipo{
background:white;
padding:40px;
}

.doctores{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.doctores img{
width:220px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

footer{
background:#333;
color:white;
padding:20px;
margin-top:30px;
}
